@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .break-word {
    word-break: break-word;
  }

  .open::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 4px;
    height: 4px;
    background-image: url("/indicator-dot.svg");
  }
}

html,
body {
  height: 100%;
}

.initial-bg {
  background-image: url("/wallpapers/20.png");
}

body {
  background-size: cover;
}
